<%- include('header')-%>
<h1>about</h1>
<p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Officia earum expedita nostrum error quasi explicabo cum
    nam esse. Molestiae explicabo sint dolores. Eius repellendus eveniet at, aperiam a laboriosam ea.</p>

<%- include('footer')-%>